<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"  />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>编辑渠道</title>
    <link rel="stylesheet" type="text/css" href="/static/css/audit/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/audit/info.css">
    <link rel="stylesheet" type="text/css" href="/static/css/common/jquery.datetimepicker.css">
    <script src="http://static.joyme.com/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="http://static.joyme.com/js/plupload.full.min.js"></script>
    <script type="text/javascript" src="http://static.joyme.com/js/qiniu.js"></script>
    <script src="http://static.joyme.com/pc/wiki/tuji/js/layer.js"></script>
    <script src="/static/script/common/validate/jquery.validate.js"></script>
    <script src="/static/script/common/validate/jquery.form.js"></script>
    <script src="/static/script/common/jquery.datetimepicker.full.js"></script>
    <script src="/static/script/baiduhezuo.js"></script>
    <style>
        #baiduhezuoform:not(select) .error{color:red;}
        #baiduhezuoform  select.error {color:black;}
    </style>
</head>
<body>
<div class="goods-list-main">
    <div class="content-box">
        <div class="content-box-header">
            <h5>编辑渠道</h5>
        </div>
        <div class="goods-list-search content-box-content">
            <form class="form-horizontal" style="margin-top: 10px;" method="post" action="/index.php?c=jchannel&a=editPro" id="jchannelform">
                <div class="my-center">
                    <div class="control-group">
                        <label class="control-label">渠道标示:</label>
                        <!--<label class="control-label" for="ckey">渠道标示:</label>-->
                        <!--<input type="text" name="ckey"  id="ckey" value="<?php echo $item['ckey']?>">-->
                        <input type="hidden" name="ckey"  id="ckey" value="<?php echo $item['ckey']?>">
                        <span><?php echo $item['ckey']?></span>
                        <span style="color:red" id="error_ckey"></span>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="channel_name">渠道名称:</label>
                        <input type="text" name="channel_name"  id="channel_name" value="<?php echo $item['channel_name']?>">
                        <span style="color:red" id="error_channel_name"></span>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="template">渠道模板:</label>
                        <input type="text" name="template"  id="template" value="<?php echo $item['template']?>">
                        <span style="color:red" id="error_template"></span>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input type="hidden" name="cid" value="<?php echo $item['cid'];?>">
                        <input type="submit" class="btn btn-success" id="submitBtn" value="提交">&nbsp;&nbsp;
                        <a href="javascript:;"  class="btn btn-success" style="height: 20px;" id="fanhui">返回</a>
                    </div>
                </div>
            </form>
            <div style="clear: both;"></div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    $(function(){
        $('#fanhui').click(function(){
            layer.confirm('确认返回么?', function(index){
                location.href = 'http://'+window.location.host+'?c=jchannel&a=index';
                layer.close(index);
            });
        });

        $("#jchannelform").validate({
            rules: {
                ckey: {
                    required: true,
                    maxlength: 20
                },
                channel_name: {
                    required: true
                },
                template:{
                    required: true
                }
            },
            messages:{
                ckey: {
                    required: "渠道标示不能为空",
                    maxlength: "不能大于20个字符"
                },
                channel_name: {
                    required: "渠道名称不能为空"
                },
                template:{
                    required: "渠道模板不能为空"
                }
            },
            submitHandler:function(form){
                if(!imgChangeing){
                    form.submit();
                }
            }
        });
    });
</script>